/* General Style */
*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*:focus {
    outline: none;
}

body {
  background-color: #121212;
  color: #f0f0f0;
  text-align: center;
  user-select: none;
}

h1 {
    color: gold;
}

/* Div Styles */
.header {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 20%;
  width: 100;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.advent-wreath{
  display: flex;
  position: fixed;
  top: 20%;
  left: 0%;
  height: 80%;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.date-box {
  display: flex;
  position: fixed;
  top: 20%;
  right: 0%;
  height: 20%;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Button Styles */
button {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button.action:hover {
  background: #1e1e1e;
}

button.lit {
  background-color: gold;
  color: #121212;
  border: 2px solid gold;
  border-radius: 4px;
  padding: 10px 20px;
}

button.lit:hover {
  background-color: #ffd700;
}