/* General Style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #0b3d0b;
  color: #fff8f0;
  text-align: center;
  user-select: none;
  font-size: 1.2rem;
}

h1 {
  color: gold;
  font-size: 2rem;
  margin: 1rem 0;
}

/* Div Styles */
#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #5f0404;
  user-select: none;
}

#advent-wreath {
  display: flex;
  position: fixed;
  top: 15%;
  left: 0;
  height: 70%;
  width: 100%;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#date-box {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 15%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #5f0404;
  color: gold;
  user-select: none;
}

/* Button Styles */
button {
  background-color: #1e1e1e;
  color: #fff8f0;
  border: 2px solid #fff8f0;
  border-radius: 6px;
  padding: 14px 28px;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0.5rem;
}

button.action:hover {
  background: #333;
}

button.lit {
  background-color: gold;
  color: #121212;
  border: 2px solid gold;
  border-radius: 6px;
  padding: 14px 28px;
  font-size: 1.1rem;
}

button.lit:hover {
  background-color: #ffd700;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  button {
    width: 40%;
    font-size: 1.3rem;
  }

  .header, .date-box {
    height: auto;
    padding: 1rem;
  }

  .advent-wreath {
    flex-direction: column;
    padding: 1rem;
  }
}